<div >
    <div style="margin:4em" >

        <h2>Servicio Led Emoji 😉</h2>
        <h3 >Envía tu mensaje a la matriz de leds</h3>
    </div>

    <div style="margin-top:2em; margin-bottom:5em">
        <p class="subTitle" style="font-size:2.7em">Intenta estos: 😁 😐 😊 😒 😱 ❤️ 😍 😮</p>
        <p class="subTitle" style="font-size:2.7em">y muchos más!</p>
    </div>

    <div class="input" >
        <label>Mensaje a mostrar en la matriz de leds</label>
        <!--        <p class="lead emoji-picker-container" style="font-size:30pt">  data-emojiable="true" -->
        <input type="text" placeholder="Escribe tu mensaje..."  
               class="inputBox"    ng-model="vm.input"    data-emoji-input="unicode">
        <!--        </p>-->
        <button ng-click="vm.sendMessage()" class="btn btn-success sendButton">Enviar</button>
    </div>

</div>

<div class="container">
    <div class="row col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-4">
        <div class="btn-group-vertical">
            <div class="row">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary emojiBtn" 
                            ng-click="vm.smiley()"> 😁</button>
                    <button type="button" class="btn btn-primary emojiBtn"
                            ng-click="vm.flat()">😐</button>
                    <button type="button" class="btn btn-primary emojiBtn"
                            ng-click="vm.cute()">
                        😊</button>
                </div>
            </div>

            <div class="row">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary emojiBtn"
                            ng-click="vm.annoyed()">😒</button>
                    <button type="button" class="btn btn-primary emojiBtn"
                            ng-click="vm.heart()">❤️</button>
                    <button type="button" class="btn btn-primary emojiBtn"
                            ng-click="vm.love()">😍</button>
                </div>
            </div>

            <div class="row">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary emojiBtn"
                            ng-click="vm.winkle()">😉</button>
                    <button type="button" class="btn btn-primary emojiBtn"
                            ng-click="vm.meh()">😕</button>
                    <button type="button" class="btn btn-primary emojiBtn"
                            ng-click="vm.flat2()">😑</button>
                </div>
            </div>
            <div class="row">
                <div >
                    <button type="button" class="btn btn-primary emojiBtn centerBtn"
                            ng-click="vm.surprised()">😮</button>
                </div>
            </div>
        </div>
    </div>
</div>

